@charset "utf-8";

.top1,.top1a{height:90px}

.top1a{ width:1280px;height:90px;background:#fff}

.top2{width:260px;height:90px;padding-top:0px;float:left}

.top3{width:790px;height:90px;float:right}

.top4{width:100px;padding:15px 0 18px 0;float:right;text-align:right}

.top5{line-height:16px;font-size:16px;float:right}

.top5 ul li{display:inline;padding-left:40px}



.box1{ width:1280px;height:62px;font-size:18px;line-height:62px}

.box1 ul li{display:inline}

.box1 .pl40{padding-left:40px}

.box2{width:426px;height:270px;float:left}

.box3{width:1280px;height:auto;margin:10px 0}

.box4{width:1280px;height:215px;padding:50px 0}

.box5{width:290px;height:215px;float:left}

.box5 ul {padding:41px 0 0 53px}

.box5 ul li{line-height:50px;font-size:35px;color:#595757}

.box6{width:990px;height:215px;float:right}

.box6 ul li{width:131px;height:35px;line-height:35px;float:left;text-align:right;font-size:15px}

.box7,.box8,.box9{float:left;height:209px}

.box7{width:292px;padding:0 27px 0 53px}

.box7 ul li{ font-size:14px;line-height:28px}

.box7 .t1,.box8 .t2,.box9 .t3{ height:33px;padding-bottom:10px;border-bottom:#bababa 1px solid;line-height:33px;font-size:16px;color:#3b3b3b;margin-bottom:17px}

.box7 .t1{width:292px}

.box8{width:352px;padding:0 30px 0 23px}

.box8 .t2{width:332px}

.box8 ul li{ font-size:14px;line-height:14px;width:105px;height:14;border-right:#808080 1px solid;float:left;margin:8px 0 8px 10px}

.box9{width:425px;padding:0 44px 0 24px}

.box9 .t3{width:425px}

.box9 ul li{

	width:202px;

	height:28px;

	float:left;

	font-size:14px;

	line-height:28px;

	padding-left:10px;

	overflow:hidden;

	background-image: url(../images/dian.png);

	background-repeat: no-repeat;

	background-position: left center;

}



/*案例*/

.Case1{height:28px;border-top:#ccc 1px solid;width:1280px}

.Case2{width:1280px;height:45px;font-size:24px;line-height:45px; margin-top:55px;color:#000}

.Case3{width:1280px; height:108px;font-size:15px; line-height:30px}

.Case4{width:1280px; padding:24px 0}

.Case5,.Case6{width:315px; height:204px;}

.Case7{ width:315px; height:73px; padding:35px 0 52px 0;}

.Case7 ul li{ line-height:22px; font-size:14px; color:#575757; margin-top:10px;}

.Case7 .f22{ font-size:22px}

.Case8{ width:315px; height:auto;float:left}



/*案例页*/

.tjal_bg{width:1280px; height:294px}

.tjal1{width:426px; height:157px;float:left}

.hyfl{width:1280px; height:64px; background:#efefef}

.hyfl ul li{ display:inline; line-height:64px; padding:0 40px; font-size:18px; color:#727171}

.hyfl ul li .hover{color:#000}



.hyfl2,.hyfl3{width:1280px; height:391px;overflow:hidden;position:relative;float:left; display:inline}

.hyfl2{margin:20px 2px 0 0}

.hyfl3{margin:20px 0 0 0px}

.hyf14{ width:1280px; height:92px; line-height:92px; text-align:center; font-size:20px;}



.zyfl1,.zyfl2{ width:313px; height:auto; float:left}

.zyfl1{margin:20px 9px 0 0}

.zyfl2{margin:20px 0 0 0}

.zyfl3{ width:313px; height:375px;}

.zyfl4{ width:313px; height:50px; line-height:50px; font-size:16px}

.zyfl4 a:link{color:#000}

.zyfl4 a:hover{color:#c90e21}





/*tab增加透明弹出效果*/

.png{position:absolute;width:1280px;height:69px;bottom:-69px;display:block;font-size:20px;}

.png{-moz-opacity:0.9;-khtml-opacity:0.9;opacity:0.9;}

.png span {color:#FFFFFF;display:block;height:69px;line-height:69px;padding:0 24px}

.png span a{color:#FFFFFF}

.png span a:hover{text-decoration:underline}





/*图片滑动特效*/

.goods_list {margin-bottom:50px;zoom:1;}

.goods_list li {position:relative;float:left;width:426px;height:270px;font-family:"microsoft yahei";overflow:hidden;}

.goods_list li .link {position:absolute;top:0;left:0;width:426px;height:100%;padding:0 20px;*background:url(#) ;color:#fff;text-decoration:none;text-indent:-99em; cursor:pointer;}

.goods_list li .link:hover {text-indent:0;text-decoration:none;}

.goods_list li .link b { display:inline-block;width:0;height:100%;vertical-align:middle;overflow:hidden; }

.goods_list li .link span {display:inline-block;vertical-align:middle;font:14px/30px "microsoft yahei";}

.goods_list li .link strong {display:block;font-weight:normal;font-size:26px;line-height:50px;}

.goods_list li:hover .pic {visibility:hidden;transition:.4s all;}

.goods_list .pic {position:relative;}

.goods_list .pic img {width:100%;height:100%;}

.goods_list .pic .intro {position:absolute;top:10px;left:12px;color:#fff;font:24px/1.5 "microsoft yahei";text-shadow:1px 2px 2px rgba(0, 0, 0, 0.3);zoom:1;}

.goods_list .intro .details {float:left;max-width:194px}

.goods_list .intro .main_det {height:36px;overflow:hidden;}

.goods_list .intro .sub_det,

.theme_list .intro .sub_det_s  {height:26px;font-size:14px;overflow:hidden;}

.goods_list .intro .date {float:left;max-width:76px;margin-left:8px;font-size:16px;white-space:nowrap;}

.goods_list .intro .date b {font:normal 54px/60px Georgia;}



/*css3*/

.goods_list li .link {-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;transition:all .5s}





/*案例幻灯片*/

/*替换案例幻灯片*/

.focus{position:relative;width:1280px;height:727px;background-color:#000}  

.focus img{width:1280px;height:727px} 

.focus .shadow .title{width:260px;height:65px;padding-left:30px;padding-top:20px}

.focus .shadow .title a{text-decoration:none;color:#fff;font-size:14px;font-weight:bolder;overflow:hidden}

.focus .btn{position:absolute;bottom:34px;left:510px;overflow:hidden;zoom:1} 

.focus .btn a{position:relative;display:inline;width:13px;height:13px;border-radius:7px;margin:0 5px;color:#B0B0B0;font:12px/15px "\5B8B\4F53";text-decoration:none;text-align:center;outline:0;float:left;background:#D9D9D9}  

.focus .btn a:hover,.focus .btn a.current{cursor:pointer;background:#fc114a}  

.focus .fPic{position:absolute;left:0px;top:0px}  

.focus .D1fBt{overflow:hidden;zoom:1;height:16px;z-index:10}   

.focus .shadow a{text-decoration:none;color:#fff;font-size:20px;overflow:hidden;margin-left:10px;font-family:"\5FAE\8F6F\96C5\9ED1"}  

.focus .fcon{position:relative;width:100%;float:left;display:none;background:#000}  

.focus .fcon img{display:block}  

.focus .fbg{bottom:20px;position:absolute;height:21px;z-index:200; right:0px;}  

.focus .fbg div{margin:4px 50px;overflow:hidden;zoom:1;height:10px}

.focus .D1fBt a{position:relative;display:inline;width:10px;height:10px;margin:0 5px;color:#B0B0B0;font:12px/15px "\5B8B\4F53";text-decoration:none;text-align:center;outline:0;float:left;background:url(../images/p14b.png)}    

.focus .D1fBt .current,.focus .D1fBt a:hover{background: url(../images/p14A.png)}    

.focus .D1fBt img{display:none}    

.focus .D1fBt i{display:none;font-style:normal}    

.focus .prev,.focus .next{position:absolute;width:39px;height:110px}

.focus .prev{top:50%;margin:-37px 0 0 20px;left:0;cursor:pointer;background:url(../images/left.png) no-repeat}  

.focus .next{top:50%;margin:-37px 20px 0 0;right:0;cursor:pointer;background:url(../images/right.png) no-repeat}







/*---photo---*/

/*---photo---*/

.zhongbiaoli{float:left;padding-top:9px;width:322px;height: auto;background:#fff}

.zhongbiaoli dl{margin:0px;padding:0px}

.zhongbiaoli dl dt,.mask{height:375px;width:313px;position:relative;overflow:hidden}

.zhongbiaoli dl dt img{display:block;width:313px;height:375px;position:absolute}

.zhongbiaoli dd{height:60px;line-height:60px;font-size:16px;color:#333}

.mask {z-index: 1;position: relative;opacity: 0;filter: alpha(opacity=0)}

.mask-bg {opacity: .5;filter: alpha(opacity=50);position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: #000}